
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color:  #2E7D32;
    --secondary-color: #A5D6A7;
    --text-color-dark: #0F172A;
    --text-color-light: #F5F5F5;

    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    --site-max-width: 1300px;
}
.dark-mode {
  --white-color: #1e1e1e;
  --dark-color: #f5f5f5;
  --primary-color: #A5D6A7;
  --secondary-color: #2E7D32;
  --text-color-dark: #ffffff;
  --text-color-light: #dcdcdc;
  --bg-color: #121212;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #F9FAFB; */
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.navbar .nav-logo,
.navbar .nav-logo .logo-text {
    color: var(--text-color-light);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    text-decoration: none !important;
    font-family: "Miniver",cursive;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
    list-style: none;

}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    font-size: var(--font-size-m);
    color: var(--text-color-light);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
    text-decoration: none;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
    text-decoration: none;
}

.score-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color-dark);
    text-align: center;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background-color: var(--secondary-color);
    color: var(--text-color-dark);
    padding: 25px 40px;
    border-radius: 20px;
    width: fit-content;
    margin: 100px auto 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.score {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    margin: 0;
}

.form-container label {
    font-weight: var(--font-weight-medium);
}

select,
input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-s);
}

.submit-btn {
    width: 100%;
    background: var(--secondary-color);
    color: var(--text-color-dark);
    border: none;
    padding: 10px;
    border-radius: var(--border-radius-s);
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: var(--primary-color);
}

.form-wrapper{
    background-color: var(--secondary-color);
    padding: 25px;
    border-radius: 20px;
    width: 350px;
    margin: 30px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.4s ease;
}
.form-wrapper.active{
    display: block;
}
@keyframes fadeIn{
    from{opacity: 0; transform: translateY(-10px);}
    to{opacity: 1; transform: translateY(0);}
}


/* DarkLightTheme */

.body.dark-bg{
    background-color: var(--dark-color);
    transition: background-color 0.3s ease;
}
.theme-panel {
  display: none;
  position: absolute;
  right: 20px;
  top: 70px;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 10;
  flex-direction: column;
  border: 2px solid red !important;
}

.theme-panel.active {
  display: flex;
  /* flex-direction: column;
  gap: 8px; */
}

.theme-panel button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--white-color);
  transition: 0.3s;
}

.theme-panel button:hover {
  /* background: var(--secondary-color);
  color: var(--text-color-dark); */
  opacity: 0.8;
}

/* СТРАНИЦА РЕГИСТРАЦИИ */
.signup-container {
    background-color: var(--secondary-color);
    width: 380px;
    margin: 150px auto; 
    padding: 40px 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.signup-container h2 {
    color: var(--primary-color);
    font-family: "Miniver", cursive;
    font-size: var(--font-size-xl);
    margin-bottom: 25px;
}

.signup-container input {
    width: 100%;
    max-width: 320px;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 12px;
    font-size: var(--font-size-n);
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #ccc inset;
    transition: 0.2s;
}

.signup-container input:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-color) inset;
}


.signup-container button {
    width: 100%;
    max-width: 320px;
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-size: var(--font-size-m);
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease;
    font-weight: var(--font-weight-medium);
}

.signup-container button:hover {
    background: #256428; 
    transform: scale(1.03);
}

